entry

~ initialise the cpu and start the machine running
$main
    call init_cpu
    call load_prog

    $mainloop
        eq 0 running
        hopt end
    
        hop mainloop

$end
    exit

~ set the stack pointer and base pointer to the end of ram
$init_cpu
    mv &ram vsp
    add 99 vsp
    mv vsp vbp

    ret

~~~~~~~~~ variables ~~~~~~~~~
$ram 
    0 0 0 0 0 0 0 0 0 0
    0 0 0 0 0 0 0 0 0 0
    0 0 0 0 0 0 0 0 0 0
    0 0 0 0 0 0 0 0 0 0
    0 0 0 0 0 0 0 0 0 0
    0 0 0 0 0 0 0 0 0 0
    0 0 0 0 0 0 0 0 0 0
    0 0 0 0 0 0 0 0 0 0
    0 0 0 0 0 0 0 0 0 0
    0 0 0 0 0 0 0 0 0 1

$pc 0 
$vsp 0
$vbp 0
    
$running 1
$op_error 0

$program
    "push 4"
    "push 5"
    "add"
    "end"

