$program
    "push 20"
    "call 1 fib_print"
    "exit"

    "$fib_print"
        "sld 3"

        "$fib_loop"
            "dup"
            "push 1"
            "sub"

            "push 0"
            "eq"
            "hopt fib_prnt_ret"
            
            "dup"
            "call 1 fib"
            "printn"
            "push 10"
            "print"
            "push 1"
            "sub"
            "hop fib_loop"

        "$fib_prnt_ret"
            "push 0"
            "ret"

    "$fib"
        "sld 3"
        "push 0"
        "eq"
        "hopf fib_base"
        "push 0"
        "ret"

    "$fib_base"
        "sld 3"
        "push 3"
        "lt"
        "hopf fib_calc"
        "push 1"
        "ret"

    "$fib_calc"
        "sld 3"
        "push 1"
        "sub"
        "call 1 fib"

        "sld 3"
        "push 2"
        "sub"
        "call 1 fib"

        "add"
        "ret"

    "end"

