MV &src A
ADD 6 A

MV &dest B
MV 10 *B
ADD 1 B

$cpy
    EQ 0 *A
    HOPT print

    MV *A *B
    ADD 1 A
    ADD 1 B

    HOP cpy

$print
    MV &src A
    MV &dest B

$loopa
    EQ 0 *A
    HOPT loopb
    
    PRINT *A
    ADD 1 A
    HOP loopa

$loopb
    EQ 0 *B
    HOPT exit
    
    PRINT *B
    ADD 1 B
    HOP loopb

$exit
    EXIT

~ the string "I am useless"
$src
    10 73 32 97 109 32 117 115 101 108 101 115 115 10 0 

$dest
    0  0  0  0  0   0  0   0   0   0   0   0   0   0  0

