~ this is a library file, it has one function but no entry point
~ it can be run with another file that uses the function below

$print_word
    push a

    $loop
        eq 0 *a
        hopt str_ret
        
        add 1 a
        print *a
        hop loop

    $str_ret
        pop a
        ret
