~ this program uses the print word function and the print fib function
~ there fore it must be run with the files "lib.vm" and "fib.vm"

entry

mv &word a 
call print_word

mv 20 a
call print_fib

print 10

exit

$word 
    "I am useless \n"


