mv &src a
call print_reverse

exit

$print_reverse
    eq 0 *a
    hopt rev_ret
    
    add 1 a
    call print_reverse
    print *a 

    $rev_ret
        sub 1 a
        ret

$src
    "\nI am useless"
