mv &src a

call print_string
call print_reverse
print 10

exit

~ print the string stored in a
$print_string
    push a

    $loop
        eq 0 *a
        hopt str_ret
        
        print *a
        add 1 a
        hop loop

    $str_ret
        pop a
        ret

$print_reverse
    push a

    eq 0 *a
    hopt rev_ret
    
    add 1 a
    call print_reverse
    print *a 

    $rev_ret
        pop a
        sub 1 a
        ret

$src
    "I am useless \n"
