mv 4 a
mv 8 b
mv 123 c

call mul_numbers

exit

~ multiply numbers in a and b store in b?
$mul_numbers
    push c
    mv 0 c

    $loop
        add 1 c
        call add_numbers
        eq c a
        hopf loop
       
    pop c
    ret

~ add the numbers in a and b result in d
$add_numbers 
    push a
    push b
    
    add b d

    pop b
    pop a

    ret
